body {
    background-color: white; 
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

h1 {
    font-size: 500%; 
    font-family: 'Alfa Slab One', cursive; 
    background: -webkit-linear-gradient(#eee, rgb(65, 121, 206));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 2%;
  }

img {
    width: 80%;
}
.jim_cooper {
    display: flex;
    justify-content: space-around;
    margin: 5%;
    align-items: center;
}

aside {
    width: 50%;
}

.info {
    height: 75%;
}

.social_media {
    margin: 2%;
    display: flex;
    justify-content: flex-end;
    
}

header {
    margin: 2% 0% 2% 0%;
    justify-content: right;
    flex-basis: auto;
}
.social {
    width: 2em;
    
}

img {
    margin: 2%;
}